In [5]:
import json
import pandas as pd

jsonData = '[ {"name": "Frank", "age": 39}, {"name": "Mike", "age": 18}, {"name": "Wendy", "age": 45} ]'

jsonData

'[ {"name": "Frank", "age": 39}, {"name": "Mike", "age": 18}, {"name": "Wendy", "age": 45} ]'

In [8]:
# using json.loads because I'm working with a string for example
d = json.loads(jsonData)
d

[{'name': 'Frank', 'age': 39},
 {'name': 'Mike', 'age': 18},
 {'name': 'Wendy', 'age': 45}]

In [11]:
# convert to pandas dataframe
dframe = pd.DataFrame(d)
dframe

    name  age
0  Frank   39
1   Mike   18
2  Wendy   45

In [14]:
# Some example queries
mean_age = dframe['age'].mean()
mean_age

34.0

In [16]:
young = dframe.loc[dframe['age']<40]
young

    name  age
0  Frank   39
1   Mike   18

In [18]:
wendy = dframe.loc[dframe['name']=='Wendy']
wendy

    name  age
2  Wendy   45