In [3]:
import pandas as pd

In [4]:
read_data_file = pd.read_csv('type_smells.csv')

In [5]:
df = pd.DataFrame(read_data_file)

In [6]:
data_smell = df[{'sum_smells_open_commit' , 'sum_smell_closed' }]

In [7]:
data_smell

   sum_smell_closed  sum_smells_open_commit
0                 5                       8
1                 8                       9
2                 7                       7
3                 1                      17
4                14                       2
5                 1                      10

In [8]:
data_time = df[{'open_time' , 'closed_time' }]

In [9]:
data_file = df[{'changed_file' , 'additions'  , 'deletions' , 'Dev' }]

In [10]:
data_file

   Dev  deletions  changed_file  additions
0    1        253            45        429
1    2        327            15        843
2    1        148             9        326
3    2         79             5        127
4    2         36             9        955
5    2       1180            32        249

In [11]:
rename_data_smell = data_smell.rename(columns= {'sum_smells_open_commit' : 'befor_commit' , 'sum_smell_closed' : 'after_commit'})

In [12]:
df['valus_smella'] =  rename_data_smell['after_commit'] - rename_data_smell['befor_commit']

In [13]:
df['valus_smella']

0    -3
1    -1
2     0
3   -16
4    12
5    -9
Name: valus_smella, dtype: int64

In [14]:
df['cla_time'] = pd.to_datetime(df['closed_time']) - pd.to_datetime(df['open_time'])

In [15]:
df['cla_time']

0   357 days 18:44:00
1    59 days 16:09:00
2   121 days 07:24:00
3     7 days 23:17:00
4     3 days 09:01:00
5    15 days 19:03:00
Name: cla_time, dtype: timedelta64[ns]