**pandas data frames**

In [1]:
from sklearn.datasets import load_wine
import pandas as pd
import numpy as np
import re

read file csv

In [2]:
read_data_file = pd.read_csv('type_smells.csv')

In [3]:
df = pd.DataFrame(read_data_file)

part of smell

In [4]:
data_smell = df[{'sum_smells_open_commit' , 'sum_smell_closed' }]

In [5]:
rename_data_smell = data_smell.rename(columns= {'sum_smells_open_commit' : 'befor_commit' , 'sum_smell_closed' : 'after_commit'})

In [6]:
after_commit = rename_data_smell['after_commit']

In [7]:
befor_commit = rename_data_smell['befor_commit']

In [8]:
df['valus_smella'] =  rename_data_smell['after_commit'] - rename_data_smell['befor_commit']

In [9]:
cal_smell = df['valus_smella']

columns list

In [10]:
list(df.columns)

['url',
 'commit',
 'parents',
 'java s112',
 'java s112.1',
 'java s119',
 'java s119.1',
 'java:S106',
 'java:S106.1',
 'java s1068',
 'java s1068.1',
 'java s1123',
 'java s1123.1',
 'java s1133',
 'java s1133.1',
 'java s1168',
 'java s1168.1',
 'java s1172',
 'java s1172.1',
 'java s1181',
 'java s1181.1',
 'java s1187',
 'java s1187.1',
 'java s1192',
 'java s1192.1',
 'java s 1874',
 'java s 1874.1',
 'java s1948',
 'java s1948.1',
 'java s 2293',
 'java s 2293.1',
 'sum_smells_open_commit',
 'sum_smell_closed',
 'remove_smell',
 'open_time',
 'closed_time',
 'time',
 'changed_file',
 'additions',
 'deletions',
 'Dev',
 'valus_smella']

In [11]:
rule  = df[{'java s112',
              'java s112.1',
              'java s119',
              'java s119.1',
              'java:S106',
              'java:S106.1',
              'java s1068',
              'java s1068.1',
              'java s1123',
              'java s1123.1',
              'java s1133',
              'java s1133.1',
              'java s1168',
              'java s1168.1',
              'java s1172',
              'java s1172.1',
              'java s1181',
              'java s1181.1',
              'java s1187',
              'java s1187.1',
              'java s1192',
              'java s1192.1',
              'java s 1874',
              'java s 1874.1',
              'java s1948',
              'java s1948.1',
              'java s 2293',
              'java s 2293.1'}]

In [12]:
rule

,java s112.1,java s1172,java s1133,java s119,java s1068.1,java s1181.1,java s1068,java s1123.1,java s1187.1,java:S106,...,java s1181,java s1192.1,java s1123,java s1172.1,java s112,java:S106.1,java s1133.1,java s 2293,java s 2293.1,java s1948
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,6,0,5,0,0,0
1,0,0,0,8,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,4,0,0,3,3
3,0,0,3,0,1,0,0,0,0,0,...,1,0,3,0,0,0,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,3,2,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,10,0,1,0,0,0

Set data type time

In [13]:
data_time = df[{'open_time' , 'closed_time' }]

In [14]:
open_time = pd.to_datetime(df['open_time'])
closed_time = pd.to_datetime(df['closed_time'])

In [15]:
df['cla_time'] = pd.to_datetime(df['closed_time']) - pd.to_datetime(df['open_time'])

In [16]:
cal_time = df['cla_time']

Information issus on GitHub

In [17]:
data_file = df[{'changed_file' , 'additions'  , 'deletions' , 'Dev' }]

In [18]:
changed_file = df['changed_file']

In [19]:
additions = df['additions']

In [20]:
deletions = df['deletions']

In [21]:
Dev = df['Dev']

data frame containing information

In [22]:
data_flink =pd.DataFrame({ 'befor_commit' : befor_commit ,'after_commit' : after_commit , 'cal_smell' : cal_smell,
                              'open_time' : open_time , 'closed_time' : closed_time , 'cal_time' : cal_time,
                              'changed_file' : changed_file , 'additions' : additions , 'deletions': deletions , 'dev': Dev
                            })

In [23]:
data_flink

,befor_commit,after_commit,cal_smell,open_time,closed_time,cal_time,changed_file,additions,deletions,dev
0,8,5,-3,2015-09-01 22:25:00,2016-08-24 17:09:00,357 days 18:44:00,45,429,253,1
1,9,8,-1,2018-02-05 04:58:00,2018-04-05 21:07:00,59 days 16:09:00,15,843,327,2
2,7,7,0,2014-09-09 16:16:00,2015-01-08 23:40:00,121 days 07:24:00,9,326,148,1
3,17,1,-16,2021-03-16 20:12:00,2021-03-24 19:29:00,7 days 23:17:00,5,127,79,2
4,2,14,12,2018-07-09 17:02:00,2018-07-13 02:03:00,3 days 09:01:00,9,955,36,2
5,10,1,-9,2014-08-03 02:19:00,2014-08-18 21:22:00,15 days 19:03:00,32,249,1180,2

Jion columns data flink