In [60]:
import pandas as pd
import datetime

In [6]:
read_data_file = pd.read_csv('type_smells.csv')

In [22]:
df = pd.DataFrame(read_data_file)

In [8]:
data_smell = df[{'sum_smells_open_commit' , 'sum_smell_closed' }]

In [9]:
data_time = df[{'open_time' , 'closed_time' }]

In [10]:
data_file = df[{'changed_file' , 'additions'  , 'deletions' , 'Dev' }]

In [11]:
rename_data_smell = data_smell.rename(columns= {'sum_smells_open_commit' : 'befor_commit' , 'sum_smell_closed' : 'after_commit'})

In [27]:
set_datetime_int = pd.to_datetime(data_time.stack()).unstack()
set_datetime_int

          closed_time           open_time
0 2016-08-24 17:09:00 2015-09-01 22:25:00
1 2018-04-05 21:07:00 2018-02-05 04:58:00
2 2015-01-08 23:40:00 2014-09-09 16:16:00
3 2021-03-24 19:29:00 2021-03-16 20:12:00
4 2018-07-13 02:03:00 2018-07-09 17:02:00
5 2014-08-18 21:22:00 2014-08-03 02:19:00

In [58]:
set_datetime_int.dtypes

closed_time    datetime64[ns]
open_time      datetime64[ns]
dtype: object

In [57]:
set_datetime_int.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [26]:
set_datetime_int.add_prefix

<bound method NDFrame.add_prefix of           closed_time           open_time
0 2016-08-24 17:09:00 2015-09-01 22:25:00
1 2018-04-05 21:07:00 2018-02-05 04:58:00
2 2015-01-08 23:40:00 2014-09-09 16:16:00
3 2021-03-24 19:29:00 2021-03-16 20:12:00
4 2018-07-13 02:03:00 2018-07-09 17:02:00
5 2014-08-18 21:22:00 2014-08-03 02:19:00>

In [51]:
s = pd.Series([set_datetime_int])
s

0              closed_time           open_time
0 20...
dtype: object

In [55]:
s.head()

0              closed_time           open_time
0 20...
dtype: object

In [46]:
#set_datetime_int[{'open_time'}] = pd.to_numeric(set_datetime_int[{'open_time'}],errors = 'coerce')