**pandas data frames**

In [1]:
from sklearn.datasets import load_wine
import pandas as pd
import numpy as np
import re

read file csv

In [2]:
read_data_file = pd.read_csv('type_smells.csv')

In [3]:
df = pd.DataFrame(read_data_file)

part of smell

In [39]:
x1  = df[('s106_before')] + df[('s112_before')] + df[('s119_before')] +  df[('s1123_before')]  +  df[('s1133_before')] + df[('s1141_before')]

In [41]:
x2 = df[('s1155_before')] + df[('s1168_before')] + df[('s1172_before')] +  df[('s1181_before')] + df[('s1187_before')] + df[('s1192_before')]

In [44]:
x3  =  df[('s1199_before')] + df[('s1610_before')] + df[('s1612_before')] + df[('s1643_before')] + df[('s1874_before')] + df[('s1948_before')]

In [47]:
x4  = df[('s1199_before.1')] + df[('s2139_before')] + df[('s2699_before')]  + df[('s2293_before')] + df[('s3011_before')]  +  df[('s3400_before')]

In [49]:
x5  = df[('s3415_before')] + df[('s3358_before')] + df[('s3740_before')]  + df[('s3776_before')] + df[('s4042_before')]  +  df[('s5411_before')]

In [48]:
x6  = df[('s5777_before')] + df[('s5993_before')] + df[('s6212_before')]  + df[('s6213_before')]

In [50]:
befor_commit_smell = x1 +x2 + x3 +x4 +x5 + x6

In [67]:
df['befor_commit_smell'] = befor_commit_smell

In [52]:
y1  = df[('s106_after')] + df[('s112_after')] + df[('s119_after')] +  df[('s1123_after')]  +  df[('s1133_after')] + df[('s1141_after')]

In [53]:
y2 = df[('s1155_after')] + df[('s1168_after')] + df[('s1172_after')] +  df[('s1181_after')] + df[('s1187_after')] + df[('s1192_after')]

In [56]:
y3  =  df[('s1199_after')] + df[('s1610_after')] + df[('S1612_after')] + df[('s1643_after')] + df[('s1874_after')] + df[('s1948_after')]

In [57]:
y4  = df[('s1199_after.1')] + df[('s2139_after')] + df[('s2699_after')]  + df[('s2293_after')] + df[('s3011_after')]  +  df[('s3400_after')]

In [58]:
y5  = df[('s3415_after')] + df[('s3358_after')] + df[('s3740_after')]  + df[('s3776_after')] + df[('s4042_after')]  +  df[('s5411_after')]

In [59]:
y6  = df[('s5777_after')] + df[('s5993_after')] + df[('S1612_after')]  + df[('s6213_after')]

In [60]:
after_commit_smell = y1 +y2 + y3 +y4 +y5 + y6

In [66]:
df['after_commit_smell'] = after_commit_smell

In [63]:
df['cal_smell']  = after_commit_smell - befor_commit_smell

In [ ]:
cal_smell = df

columns list

In [22]:
list(df.columns)

['url',
 'commit',
 'parents',
 's106_before',
 's106_after',
 's112_before',
 's112_after',
 's119_before',
 's119_after',
 's1123_before',
 's1123_after',
 's1133_before',
 's1133_after',
 's1141_before',
 's1141_after',
 's1155_before',
 's1155_after',
 's1168_before',
 's1168_after',
 's1172_before',
 's1172_after',
 's1181_before',
 's1181_after',
 's1187_before',
 's1187_after',
 's1192_before',
 's1192_after',
 's1199_before',
 's1199_after',
 's1610_before',
 's1610_after',
 's1612_before',
 'S1612_after',
 's1643_before',
 's1643_after',
 's1874_before',
 's1874_after',
 's1948_before',
 's1948_after',
 's1199_before.1',
 's1199_after.1',
 's2139_before',
 's2139_after',
 's2699_before',
 's2699_after',
 's2293_before',
 's2293_after',
 's3011_before',
 's3011_after',
 's3400_before',
 's3400_after',
 's3415_before',
 's3415_after',
 's3358_before',
 's3358_after',
 's3740_before',
 's3740_after',
 's3776_before',
 's3776_after',
 's4042_before',
 's4042_after',
 's5411_before',
 's5411_after',
 's5777_before',
 's5777_after',
 's5993_before',
 's5993_after',
 's6212_before',
 's6212_after',
 's6213_before',
 's6213_after',
 'open_time',
 'closed_time',
 'changed_file',
 'additions',
 'deletions',
 'Dev']

In [68]:
rule  = df[{
     's106_before',
 's106_after',
 's112_before',
 's112_after',
 's119_before',
 's119_after',
 's1123_before',
 's1123_after',
 's1133_before',
 's1133_after',
 's1141_before',
 's1141_after',
 's1155_before',
 's1155_after',
 's1168_before',
 's1168_after',
 's1172_before',
 's1172_after',
 's1181_before',
 's1181_after',
 's1187_before',
 's1187_after',
 's1192_before',
 's1192_after',
 's1199_before',
 's1199_after',
 's1610_before',
 's1610_after',
 's1612_before',
 'S1612_after',
 's1643_before',
 's1643_after',
 's1874_before',
 's1874_after',
 's1948_before',
 's1948_after',
 's1199_before.1',
 's1199_after.1',
 's2139_before',
 's2139_after',
 's2699_before',
 's2699_after',
 's2293_before',
 's2293_after',
 's3011_before',
 's3011_after',
 's3400_before',
 's3400_after',
 's3415_before',
 's3415_after',
 's3358_before',
 's3358_after',
 's3740_before',
 's3740_after',
 's3776_before',
 's3776_after',
 's4042_before',
 's4042_after',
 's5411_before',
 's5411_after',
 's5777_before',
 's5777_after',
 's5993_before',
 's5993_after',
 's6212_before',
 's6212_after',
 's6213_before',
 's6213_after'
}]

Set data type time

In [71]:
data_time = df[{'open_time' , 'closed_time' }]

In [72]:
open_time = pd.to_datetime(df['open_time'])
closed_time = pd.to_datetime(df['closed_time'])

In [73]:
df['cla_time'] = pd.to_datetime(df['closed_time']) - pd.to_datetime(df['open_time'])

In [74]:
cal_time = df['cla_time']

Information issus on GitHub

In [75]:
data_file = df[{'changed_file' , 'additions'  , 'deletions' , 'Dev' }]

In [76]:
changed_file = df['changed_file']

In [77]:
additions = df['additions']

In [78]:
deletions = df['deletions']

In [79]:
Dev = df['Dev']

data frame containing information

In [80]:
data_flink =pd.DataFrame({  'befor_commit_smell ' : befor_commit_smell , 'after_commit_smell' : after_commit_smell, 'cal_smell' : cal_smell,
                              'open_time' : open_time , 'closed_time' : closed_time , 'cal_time' : cal_time,
                              'changed_file' : changed_file , 'additions' : additions , 'deletions': deletions , 'dev': Dev
                            })

NameError: name 'cal_smell' is not defined

In [20]:
data_flink

,open_time,closed_time,cal_time,changed_file,additions,deletions,dev
0,2015-09-01 22:25:00,2016-08-24 17:09:00,357 days 18:44:00,45,429,253,1
1,2018-02-05 04:58:00,2018-04-05 21:07:00,59 days 16:09:00,15,843,327,2
2,2014-09-09 16:16:00,2015-01-08 23:40:00,121 days 07:24:00,9,326,148,1
3,2021-03-16 20:12:00,2021-03-24 19:29:00,7 days 23:17:00,5,127,79,2
4,2018-07-09 17:02:00,2018-07-13 02:03:00,3 days 09:01:00,9,955,36,2
5,2014-08-03 02:19:00,2014-08-18 21:22:00,15 days 19:03:00,32,249,1180,2
6,2016-04-02 18:10:00,2016-04-21 03:52:00,18 days 09:42:00,8,905,37,2
7,2014-12-12 21:55:00,2014-12-19 00:58:00,6 days 03:03:00,47,8283,8783,1
8,2017-02-17 10:19:00,2017-02-23 22:56:00,6 days 12:37:00,34,2887,9,2
9,2019-11-15 22:59:00,2019-11-20 19:15:00,4 days 20:16:00,3,27,7,2
10,2020-06-11 16:30:00,2020-06-15 23:20:00,4 days 06:50:00,7,408,273,1
11,2020-04-18 21:42:00,2020-04-18 21:42:00,0 days 00:00:00,14,771,34,1
12,2019-11-27 10:55:00,2019-11-27 10:55:00,0 days 00:00:00,257,26188,0,2
13,2017-06-08 10:38:00,2017-08-10 16:36:00,63 days 05:58:00,22,375,113,2
14,2020-09-26 21:26:00,2020-09-30 08:44:00,3 days 11:18:00,15,486,21,2
15,2010-12-17 01:09:00,2011-01-06 02:57:00,20 days 01:48:00,882,"156,857",0,2
16,2012-11-05 06:13:00,2013-01-25 02:17:00,80 days 20:04:00,89,3248,298,1
17,2012-08-15 20:39:00,2012-08-15 23:26:00,0 days 02:47:00,9,129,71,1
18,2013-11-08 21:28:00,2013-11-11 21:51:00,3 days 00:23:00,3,317,207,1
19,2013-01-19 06:57:00,2013-04-29 20:09:00,100 days 13:12:00,1388,221080,0,1
20,2014-09-24 20:00:00,2014-10-06 21:20:00,12 days 01:20:00,60,3643,1652,2
21,2014-11-10 22:11:00,2014-12-10 22:29:00,30 days 00:18:00,15,1136,1874,2
22,2014-03-16 17:01:00,2014-11-20 21:29:00,249 days 04:28:00,12,689,6,1
23,2014-08-18 21:22:00,2014-09-07 04:08:00,19 days 06:46:00,77,577,669,2
24,2015-06-05 20:34:00,2015-06-10 19:26:00,4 days 22:52:00,3,18,12,1
25,2015-07-11 19:00:00,2015-06-06 18:56:00,-36 days +23:56:00,5,10,10,2
26,2016-09-21 03:03:00,2016-10-14 21:36:00,23 days 18:33:00,55,2553,226,2
27,2019-07-03 16:47:00,2019-08-05 18:25:00,33 days 01:38:00,13,90,5,2
28,2021-09-09 21:41:00,2021-09-16 02:14:00,6 days 04:33:00,5,502,64,2
29,2020-11-09 09:45:00,2020-12-27 12:52:00,48 days 03:07:00,13,314,201,1

Jion columns data flink