**pandas data frames**

In [79]:
from sklearn.datasets import load_wine
import pandas as pd
import numpy as np
import re

read file csv

In [80]:
read_data_file = pd.read_csv('type_smells.csv')

In [81]:
df = pd.DataFrame(read_data_file)

part of smell

In [82]:
commit_befor_sm = df.filter(regex='_befor')

In [83]:
commit_befor_sm

,s106_before,s112_before,s119_before,s1123_before,s1133_before,s1141_before,s1155_before,s1168_before,s1172_before,s1181_before,...,s3415_before,s3358_before,s3740_before,s3776_before,s4042_before,s5411_before,s5777_before,s5993_before,s6212_before,s6213_before
0,0,6,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,3,0,0,3,0,0,3,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
10,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,4,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,12,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,15,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,9,0
20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,10,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
23,0,0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,4,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,0
28,0,0,6,1,0,0,2,0,0,0,...,0,0,0,0,0,0,0,1,1,0
29,0,0,0,0,0,0,0,0,0,1,...,0,0,0,14,0,0,0,0,4,0

In [84]:
commit_after_sm = df.filter(regex='_after')

In [85]:
commit_after_sm

,s106_after,s112_after,s119_after,s1123_after,s1133_after,s1141_after,s1155_after,s1168_after,s1172_after,s1181_after,...,s3415_after,s3358_after,s3740_after,s3776_after,s4042_after,s5411_after,s5777_after,s5993_after,s6212_after,s6213_after
0,0,0,0,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,22,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
15,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,0
16,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,9,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,9,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,19,0,0,0,0,0,6,0
20,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,7,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,6,2
23,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,0
25,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
commit_after_sm.sum(axis=1)

0      5
1      8
2      7
3      1
4      6
5      1
6     15
7      0
8      0
9      0
10     0
11     0
12     0
13    22
14     5
15    10
16    19
17     1
18    10
19    27
20     2
21    11
22     9
23     5
24     6
25     4
26     2
27     1
28     0
29     0
dtype: int64

In [87]:
df['commit_after'] = commit_after_sm.sum(axis=1)

In [88]:
commit_after = df['commit_after']

In [89]:
commit_befor_sm.sum(axis=1)

0      8
1      9
2      7
3     17
4      2
5     10
6      0
7      4
8      4
9      2
10     9
11    11
12    18
13     0
14     3
15    10
16    28
17     0
18     1
19    23
20    11
21     0
22     2
23     8
24     2
25     0
26     6
27     7
28    11
29    23
dtype: int64

In [90]:
df['commit_befor'] = commit_befor_sm.sum(axis=1)

In [91]:
commit_befor = df['commit_befor']

In [92]:
df['cal_smell']  = commit_after_sm.sum(axis=1) - commit_befor_sm.sum(axis=1)

In [93]:
cal_smell =  df['cal_smell']

columns list

In [94]:
list(df.columns)

['url',
 'commit',
 'parents',
 's106_before',
 's106_after',
 's112_before',
 's112_after',
 's119_before',
 's119_after',
 's1123_before',
 's1123_after',
 's1133_before',
 's1133_after',
 's1141_before',
 's1141_after',
 's1155_before',
 's1155_after',
 's1168_before',
 's1168_after',
 's1172_before',
 's1172_after',
 's1181_before',
 's1181_after',
 's1187_before',
 's1187_after',
 's1192_before',
 's1192_after',
 's1199_before',
 's1199_after',
 's1610_before',
 's1610_after',
 's1612_before',
 'S1612_after',
 's1643_before',
 's1643_after',
 's1874_before',
 's1874_after',
 's1948_before',
 's1948_after',
 's1199_before.1',
 's1199_after.1',
 's2139_before',
 's2139_after',
 's2699_before',
 's2699_after',
 's2293_before',
 's2293_after',
 's3011_before',
 's3011_after',
 's3400_before',
 's3400_after',
 's3415_before',
 's3415_after',
 's3358_before',
 's3358_after',
 's3740_before',
 's3740_after',
 's3776_before',
 's3776_after',
 's4042_before',
 's4042_after',
 's5411_before',
 's5411_after',
 's5777_before',
 's5777_after',
 's5993_before',
 's5993_after',
 's6212_before',
 's6212_after',
 's6213_before',
 's6213_after',
 'open_time',
 'closed_time',
 'changed_file',
 'additions',
 'deletions',
 'Dev',
 'commit_after',
 'commit_befor',
 'cal_smell']

In [95]:
rule  = df[{
     's106_before',
 's106_after',
 's112_before',
 's112_after',
 's119_before',
 's119_after',
 's1123_before',
 's1123_after',
 's1133_before',
 's1133_after',
 's1141_before',
 's1141_after',
 's1155_before',
 's1155_after',
 's1168_before',
 's1168_after',
 's1172_before',
 's1172_after',
 's1181_before',
 's1181_after',
 's1187_before',
 's1187_after',
 's1192_before',
 's1192_after',
 's1199_before',
 's1199_after',
 's1610_before',
 's1610_after',
 's1612_before',
 'S1612_after',
 's1643_before',
 's1643_after',
 's1874_before',
 's1874_after',
 's1948_before',
 's1948_after',
 's1199_before.1',
 's1199_after.1',
 's2139_before',
 's2139_after',
 's2699_before',
 's2699_after',
 's2293_before',
 's2293_after',
 's3011_before',
 's3011_after',
 's3400_before',
 's3400_after',
 's3415_before',
 's3415_after',
 's3358_before',
 's3358_after',
 's3740_before',
 's3740_after',
 's3776_before',
 's3776_after',
 's4042_before',
 's4042_after',
 's5411_before',
 's5411_after',
 's5777_before',
 's5777_after',
 's5993_before',
 's5993_after',
 's6212_before',
 's6212_after',
 's6213_before',
 's6213_after'
}]

Set data type time

In [96]:
data_time = df[{'open_time' , 'closed_time' }]

In [97]:
open_time = pd.to_datetime(df['open_time'])
closed_time = pd.to_datetime(df['closed_time'])

In [98]:
df['cla_time'] = pd.to_datetime(df['closed_time']) - pd.to_datetime(df['open_time'])

In [99]:
cal_time = df['cla_time']

Information issus on GitHub

In [100]:
data_file = df[{'changed_file' , 'additions'  , 'deletions' , 'Dev' }]

In [101]:
changed_file = df['changed_file']

In [102]:
additions = df['additions']

In [103]:
deletions = df['deletions']

In [104]:
Dev = df['Dev']

data frame containing information

In [105]:
data_flink = pd.DataFrame({  'commit_befor ' : commit_befor , 'commit_after' : commit_after, 'cal_smell' : cal_smell,
                              'open_time' : open_time , 'closed_time' : closed_time , 'cal_time' : cal_time,
                              'changed_file' : changed_file , 'additions' : additions , 'deletions': deletions , 'dev': Dev
                            })

In [106]:
data_flink

,commit_befor,commit_after,cal_smell,open_time,closed_time,cal_time,changed_file,additions,deletions,dev
0,8,5,-3,2015-09-01 22:25:00,2016-08-24 17:09:00,357 days 18:44:00,45,429,253,1
1,9,8,-1,2018-02-05 04:58:00,2018-04-05 21:07:00,59 days 16:09:00,15,843,327,2
2,7,7,0,2014-09-09 16:16:00,2015-01-08 23:40:00,121 days 07:24:00,9,326,148,1
3,17,1,-16,2021-03-16 20:12:00,2021-03-24 19:29:00,7 days 23:17:00,5,127,79,2
4,2,6,4,2018-07-09 17:02:00,2018-07-13 02:03:00,3 days 09:01:00,9,955,36,2
5,10,1,-9,2014-08-03 02:19:00,2014-08-18 21:22:00,15 days 19:03:00,32,249,1180,2
6,0,15,15,2016-04-02 18:10:00,2016-04-21 03:52:00,18 days 09:42:00,8,905,37,2
7,4,0,-4,2014-12-12 21:55:00,2014-12-19 00:58:00,6 days 03:03:00,47,8283,8783,1
8,4,0,-4,2017-02-17 10:19:00,2017-02-23 22:56:00,6 days 12:37:00,34,2887,9,2
9,2,0,-2,2019-11-15 22:59:00,2019-11-20 19:15:00,4 days 20:16:00,3,27,7,2
10,9,0,-9,2020-06-11 16:30:00,2020-06-15 23:20:00,4 days 06:50:00,7,408,273,1
11,11,0,-11,2020-04-18 21:42:00,2020-04-18 21:42:00,0 days 00:00:00,14,771,34,1
12,18,0,-18,2019-11-27 10:55:00,2019-11-27 10:55:00,0 days 00:00:00,257,26188,0,2
13,0,22,22,2017-06-08 10:38:00,2017-08-10 16:36:00,63 days 05:58:00,22,375,113,2
14,3,5,2,2020-09-26 21:26:00,2020-09-30 08:44:00,3 days 11:18:00,15,486,21,2
15,10,10,0,2010-12-17 01:09:00,2011-01-06 02:57:00,20 days 01:48:00,882,"156,857",0,2
16,28,19,-9,2012-11-05 06:13:00,2013-01-25 02:17:00,80 days 20:04:00,89,3248,298,1
17,0,1,1,2012-08-15 20:39:00,2012-08-15 23:26:00,0 days 02:47:00,9,129,71,1
18,1,10,9,2013-11-08 21:28:00,2013-11-11 21:51:00,3 days 00:23:00,3,317,207,1
19,23,27,4,2013-01-19 06:57:00,2013-04-29 20:09:00,100 days 13:12:00,1388,221080,0,1
20,11,2,-9,2014-09-24 20:00:00,2014-10-06 21:20:00,12 days 01:20:00,60,3643,1652,2
21,0,11,11,2014-11-10 22:11:00,2014-12-10 22:29:00,30 days 00:18:00,15,1136,1874,2
22,2,9,7,2014-03-16 17:01:00,2014-11-20 21:29:00,249 days 04:28:00,12,689,6,1
23,8,5,-3,2014-08-18 21:22:00,2014-09-07 04:08:00,19 days 06:46:00,77,577,669,2
24,2,6,4,2015-06-05 20:34:00,2015-06-10 19:26:00,4 days 22:52:00,3,18,12,1
25,0,4,4,2015-07-11 19:00:00,2015-06-06 18:56:00,-36 days +23:56:00,5,10,10,2
26,6,2,-4,2016-09-21 03:03:00,2016-10-14 21:36:00,23 days 18:33:00,55,2553,226,2
27,7,1,-6,2019-07-03 16:47:00,2019-08-05 18:25:00,33 days 01:38:00,13,90,5,2
28,11,0,-11,2021-09-09 21:41:00,2021-09-16 02:14:00,6 days 04:33:00,5,502,64,2
29,23,0,-23,2020-11-09 09:45:00,2020-12-27 12:52:00,48 days 03:07:00,13,314,201,1

Prediction model lusing the SGD and ROC

In [107]:
df = pd.DataFrame(data_flink)

In [109]:
df_non_na = df.dropna()

In [110]:
X , y = df_non_na.iloc[:, [True, True,  False, True, True,True, False, True, True, True]] , df_non_na.iloc[6]

In [111]:
X.shape

(30, 8)

In [112]:
y.shape

(10,)

In [166]:
X_train , X_test , y_train , y_test = X[:30] ,X[30:] , y[:10] , y[10:]

In [167]:
X_train

,commit_befor,commit_after,open_time,closed_time,cal_time,additions,deletions,dev
0,8,5,2015-09-01 22:25:00,2016-08-24 17:09:00,357 days 18:44:00,429,253,1
1,9,8,2018-02-05 04:58:00,2018-04-05 21:07:00,59 days 16:09:00,843,327,2
2,7,7,2014-09-09 16:16:00,2015-01-08 23:40:00,121 days 07:24:00,326,148,1
3,17,1,2021-03-16 20:12:00,2021-03-24 19:29:00,7 days 23:17:00,127,79,2
4,2,6,2018-07-09 17:02:00,2018-07-13 02:03:00,3 days 09:01:00,955,36,2
5,10,1,2014-08-03 02:19:00,2014-08-18 21:22:00,15 days 19:03:00,249,1180,2
6,0,15,2016-04-02 18:10:00,2016-04-21 03:52:00,18 days 09:42:00,905,37,2
7,4,0,2014-12-12 21:55:00,2014-12-19 00:58:00,6 days 03:03:00,8283,8783,1
8,4,0,2017-02-17 10:19:00,2017-02-23 22:56:00,6 days 12:37:00,2887,9,2
9,2,0,2019-11-15 22:59:00,2019-11-20 19:15:00,4 days 20:16:00,27,7,2
10,9,0,2020-06-11 16:30:00,2020-06-15 23:20:00,4 days 06:50:00,408,273,1
11,11,0,2020-04-18 21:42:00,2020-04-18 21:42:00,0 days 00:00:00,771,34,1
12,18,0,2019-11-27 10:55:00,2019-11-27 10:55:00,0 days 00:00:00,26188,0,2
13,0,22,2017-06-08 10:38:00,2017-08-10 16:36:00,63 days 05:58:00,375,113,2
14,3,5,2020-09-26 21:26:00,2020-09-30 08:44:00,3 days 11:18:00,486,21,2
15,10,10,2010-12-17 01:09:00,2011-01-06 02:57:00,20 days 01:48:00,"156,857",0,2
16,28,19,2012-11-05 06:13:00,2013-01-25 02:17:00,80 days 20:04:00,3248,298,1
17,0,1,2012-08-15 20:39:00,2012-08-15 23:26:00,0 days 02:47:00,129,71,1
18,1,10,2013-11-08 21:28:00,2013-11-11 21:51:00,3 days 00:23:00,317,207,1
19,23,27,2013-01-19 06:57:00,2013-04-29 20:09:00,100 days 13:12:00,221080,0,1
20,11,2,2014-09-24 20:00:00,2014-10-06 21:20:00,12 days 01:20:00,3643,1652,2
21,0,11,2014-11-10 22:11:00,2014-12-10 22:29:00,30 days 00:18:00,1136,1874,2
22,2,9,2014-03-16 17:01:00,2014-11-20 21:29:00,249 days 04:28:00,689,6,1
23,8,5,2014-08-18 21:22:00,2014-09-07 04:08:00,19 days 06:46:00,577,669,2
24,2,6,2015-06-05 20:34:00,2015-06-10 19:26:00,4 days 22:52:00,18,12,1
25,0,4,2015-07-11 19:00:00,2015-06-06 18:56:00,-36 days +23:56:00,10,10,2
26,6,2,2016-09-21 03:03:00,2016-10-14 21:36:00,23 days 18:33:00,2553,226,2
27,7,1,2019-07-03 16:47:00,2019-08-05 18:25:00,33 days 01:38:00,90,5,2
28,11,0,2021-09-09 21:41:00,2021-09-16 02:14:00,6 days 04:33:00,502,64,2
29,23,0,2020-11-09 09:45:00,2020-12-27 12:52:00,48 days 03:07:00,314,201,1

In [168]:
X_test

Empty DataFrame
Columns: [commit_befor , commit_after, open_time, closed_time, cal_time, additions, deletions, dev]
Index: []

In [169]:
y_train

commit_befor                       0
commit_after                      15
cal_smell                         15
open_time        2016-04-02 18:10:00
closed_time      2016-04-21 03:52:00
cal_time            18 days 09:42:00
changed_file                       8
additions                        905
deletions                         37
dev                                2
Name: 6, dtype: object

In [170]:
y_test

Series([], Name: 6, dtype: object)

In [146]:
shuffle_index  = np.random.permutation(5)
shuffle_index

array([1, 0, 2, 4, 3])

In [147]:
X_train.iloc[shuffle_index]

,commit_befor,commit_after,open_time,closed_time,cal_time,additions,deletions,dev
1,9,8,2018-02-05 04:58:00,2018-04-05 21:07:00,59 days 16:09:00,843,327,2
0,8,5,2015-09-01 22:25:00,2016-08-24 17:09:00,357 days 18:44:00,429,253,1
2,7,7,2014-09-09 16:16:00,2015-01-08 23:40:00,121 days 07:24:00,326,148,1
4,2,6,2018-07-09 17:02:00,2018-07-13 02:03:00,3 days 09:01:00,955,36,2
3,17,1,2021-03-16 20:12:00,2021-03-24 19:29:00,7 days 23:17:00,127,79,2

In [148]:
y_train.iloc[shuffle_index]

commit_after                      15
commit_befor                       0
cal_smell                         15
closed_time      2016-04-21 03:52:00
open_time        2016-04-02 18:10:00
Name: 6, dtype: object

In [149]:
X_train_shuffle , y_train_shufle = X_train.iloc[shuffle_index] , y_train.iloc[shuffle_index]

In [161]:
y_test

Series([], Name: 6, dtype: object)

In [188]:
y_train_5 = (y_train_shufle == 20)
y_test_5 = (y_test == 20)

In [192]:
from sklearn.linear_model import SGDClassifier

In [193]:
sgd_clf = SGDClassifier(random_state =5)

In [194]:
sgd_clf

SGDClassifier(random_state=5)

In [197]:
sgd_clf.fit(X_train_shuffle , y_train_5)

TypeError: The DTypes <class 'numpy.dtype[datetime64]'> and <class 'numpy.dtype[int64]'> do not have a common DType. For example they cannot be stored in a single array unless the dtype is `object`.

In [196]:
sgd_clf.predict(X_train_shuffle)

NotFittedError: This SGDClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.