In [4]:
import pandas as pd

left = pd.DataFrame(
       {
        "key1": ["K0", "K0", "K1", "K2"],
         "key2": ["K0", "K1", "K0", "K1"],
       "A": ["A0", "A1", "A2", "A3"],
         "B": ["B0", "B1", "B2", "B3"],
      }
   )

right = pd.DataFrame(
      {
         "key1": ["K0", "K1", "K1", "K2"],
         "key2": ["K0", "K0", "K0", "K0"],
          "C": ["C0", "C1", "C2", "C3"],
           "D": ["D0", "D1", "D2", "D3"],
      }
  )

In [5]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [6]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [7]:
newleft = left.set_index(['key1','key2'])

In [14]:
newRight = right.set_index(['key1','key2'])

In [15]:
print(newRight)
print(newleft)

            C   D
key1 key2
K0   K0    C0  D0
K1   K0    C1  D1
     K0    C2  D2
K2   K0    C3  D3
            A   B
key1 key2
K0   K0    A0  B0
     K1    A1  B1
K1   K0    A2  B2
K2   K1    A3  B3

In [14]:
newleft.join(newRight,on=['key1','key2'])

            A   B    C    D
key1 key2
K0   K0    A0  B0   C0   D0
     K1    A1  B1  NaN  NaN
K1   K0    A2  B2   C1   D1
     K0    A2  B2   C2   D2
K2   K1    A3  B3  NaN  NaN

In [16]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [17]:
left.merge(right,on=['key1','key2'],how='right')

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3